# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments and Secrets
.env
.venv
env/
venv/
ENV/

# VS Code settings

.vscode/
tempCodeRunnerFile.py

# Databases 

*.db
users.db
db.sqlite3
db.sqlite3-journal