<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | DevConnect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav>
        <a href="/" class="logo">DevConnect 🤝</a>
    </nav>

    <div class="container">
        <h1>{{ title }}</h1>
        <p>{{ message }}</p>
        <a href="/" class="btn-main" style="margin-top:10px;">Go Home</a>
    </div>

    <footer>DEVELOPED BY K. TEJO RAM &nbsp;|&nbsp; DEV CONNECT 2026</footer>

</body>
</html>